<section class="home" id="home">
  <div class="slide-container active">
      <div class="slide">
          <div class="content">
              <span>Celulares</span>
              <h3>One plus 9 pro</h3>
              <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit
                  Sunt nam adipisci ipsa officiis Amet pariatur eaque soluta
                  sit iure neque voluptate.
              </p>
              <a href="#" class="btn">Añadir al carrito</a>
          </div>
          <div class="image">
              <img src="https://oasis.opstatics.com/content/dam/oasis/page/2021/9-series/spec-image/9-pro/Stellar%20Black-gallery..png" class="shoe">
          </div>
      </div>
  </div>
  <div class="slide-container">
      <div class="slide">
          <div class="content">
              <span>Nike Sport Shoes</span>
              <h3>Nike Metcon Shoes</h3>
              <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit
                  Sunt nam adipisci ipsa officiis Amet pariatur eaque soluta
                  sit iure neque voluptate.
              </p>
              <a href="#" class="btn">add to card</a>
          </div>
          <div class="image">
              <img src="/src/assets/productos/poc.png" class="shoe">
          </div>
      </div>
  </div>
  <div class="slide-container">
      <div class="slide">
          <div class="content">
              <span>Nike Sport Shoes</span>
              <h3>Nike Metcon Shoes</h3>
              <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit
                  Sunt nam adipisci ipsa officiis Amet pariatur eaque soluta
                  sit iure neque voluptate.
              </p>
              <a href="#" class="btn">add to card</a>
          </div>
          <div class="image">
              <img src="https://ddtech.mx/assets/uploads/344d960b9f85add751d84485841f481c.png" class="shoe">
          </div>
      </div>
  </div>
  <div class="slide-container">
      <div class="slide">
          <div class="content">
              <span>Nike Sport Shoes</span>
              <h3>Nike Metcon Shoes</h3>
              <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit
                  Sunt nam adipisci ipsa officiis Amet pariatur eaque soluta
                  sit iure neque voluptate.
              </p>
              <a href="#" class="btn">add to card</a>
          </div>
          <div class="image">
              <img src="img/slide/4.png" class="shoe">
          </div>
      </div>
  </div>

  <div id="prev" class="fa fa-angle-left" onclick="prev();"></div>
  <div id="next" class="fa fa-angle-right" onclick="next();"></div>

          <!--end home-->
          <section class="product" id="product">
            <h1 class="heading">Ultimos  <span>Products</span></h1>
            <div class="box-container">
                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                        <a href="#" class="fa fa-share"></a>
                        <a href="#" class="fa fa-eye"></a>
                    </div>
                    <div class="content">
                        <img src="https://images.samsung.com/is/image/samsung/mx-sr35-ls24r350fhlxzx-frontblack-248705432?$650_519_PNG$" alt="">
                        <h3>24" FHD Monitor con diseño sin bordess</h3>
                        <div class="price">$200 <span>$150</span></div>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                        <a href="#" class="fa fa-share"></a>
                        <a href="#" class="fa fa-eye"></a>
                    </div>
                    <div class="content">
                        <img src="https://i01.appmifile.com/webfile/globalweb/chenyang/K2-White.png" alt="">
                        <h3>Xiaomi mi 11</h3>
                        <div class="price">$200 <span>$150</span></div>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                        <a href="#" class="fa fa-share"></a>
                        <a href="#" class="fa fa-eye"></a>
                    </div>
                    <div class="content">
                        <img src="https://http2.mlstatic.com/D_NQ_NP_686425-MLA44807928017_022021-O.webp" alt="">
                        <h3>
                          Audífonos gamer Razer Kraken</h3>
                        <div class="price">$200 <span>$150</span></div>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                        <a href="#" class="fa fa-share"></a>
                        <a href="#" class="fa fa-eye"></a>
                    </div>
                    <div class="content">
                        <img src="http://assets.stickpng.com/images/58aefaaac869e092af51ee66.png" alt="">
                        <h3>Google pixel 6</h3>
                        <div class="price">$200 <span>$150</span></div>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                        <a href="#" class="fa fa-share"></a>
                        <a href="#" class="fa fa-eye"></a>
                    </div>
                    <div class="content">
                        <img src="https://www.notebookcheck.org/fileadmin/Notebooks/News/_nc3/S22_Ultra_Greeen_Untitled.png" alt="">
                        <h3>Nike Shoes</h3>
                        <div class="price">$200 <span>$150</span></div>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="icons">
                        <a href="#" class="fa fa-heart"></a>
                        <a href="#" class="fa fa-share"></a>
                        <a href="#" class="fa fa-eye"></a>
                    </div>
                    <div class="content">
                        <img src="https://ddtech.mx/assets/uploads/ea6fd812c5436d74891640f9b2c895ba.png" alt="">
                        <h3>Nike Shoes</h3>
                        <div class="price">$200 <span>$150</span></div>
                        <div class="stars">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--end product-->
</section>
